In [ ]:
!pip install SQLAlchemy==1.4.47

In [ ]:
import pandas as pd
from pandasql import sqldf

sqldef_globals = lambda q: sqldf(q, globals())

In [ ]:
df = pd.read_csv("Dummy_Sales_Data_v1.csv", sep=",")
df.head()

In [ ]:
df.rename(columns={"Shipping_Cost(USD)":"ShippingCost_USD",
                   "UnitPrice(USD)":"UnitPrice_USD",
                   "Delivery_Time(Days)":"Delivery_Time_Days"},
          inplace=True)
df.info()

In [ ]:
query = "SELECT OrderID, Quantity, Sales_Manager, Status, Shipping_Address, ShippingCost_USD FROM df"

In [ ]:
df_orders = sqldef_globals(query)
df_orders.head()

In [ ]:
query = "SELECT OrderID,\
        Quantity, \
        Product_Code, \
        Product_Category, \
        UnitPrice_USD \
        FROM df"
df_products = sqldef_globals(query)
df_products.head()

In [ ]:
query = "SELECT * \
        FROM df_orders \
        WHERE Shipping_Address = 'Kenya'"
df_kenya = sqldef_globals(query)
df_kenya.head()

In [ ]:
query = "SELECT * \
        FROM df_orders \
        WHERE Shipping_Address = 'Kenya' \
        AND Quantity < 40 \
        AND Status IN ('Shipped', 'Delivered')"
df_kenya = sqldef_globals(query)
df_kenya.head()

In [ ]:
query = "SELECT Shipping_Address, \
        COUNT(OrderID) AS Orders \
        FROM df_orders \
        GROUP BY Shipping_Address"
df_group = sqldef_globals(query)
df_group.head(10)

In [ ]:
df_grouped = df_orders.groupby("Shipping_Address")
df_grouped = df_grouped["OrderID"].count()
df_grouped = pd.DataFrame(df_grouped)
df_grouped

In [ ]:
df_grouped = df_orders.groupby("Shipping_Address")
df_grouped = df_grouped["OrderID"].count()
df_grouped = pd.DataFrame(df_grouped)
df_grouped.reset_index(inplace=True)
df_grouped.rename(columns={"OrderID":"Orders"}, inplace=True)

In [ ]:
df_grouped

In [ ]:
query = "SELECT Shipping_Address, \
        COUNT(OrderID) AS Orders \
        FROM df_orders \
        GROUP BY Shipping_Address \
        ORDER BY Orders"
df_group = sqldf(query)
df_group

In [ ]:
query = "SELECT T1.OrderID, \
        T1.Shipping_Address, \
        T2.Product_Category \
        FROM df_orders T1\
        INNER JOIN df_products T2\
        ON T1.OrderID = T2.OrderID"
df_combined = sqldf(query)
df_combined.head()