In [1]:
from process.Extract import Extract
from process.Transform import Transform
from process.Load import Load
#import pandas as pd


extract = Extract()
transform = Transform()
load = Load()

In [2]:
categories_df_db = extract.read_mysql("categories", 'retail_db')
customers_df_db = extract.read_mysql("customers", 'retail_db')
departments_df_db = extract.read_mysql("departments", 'retail_db')
order_items_df_db = extract.read_mysql("order_items", 'retail_db')
orders_df_db = extract.read_mysql("orders", 'retail_db')
products_df_db = extract.read_mysql("products", 'retail_db')

In [3]:
order_items_df_db.head()

,order_item_id,order_item_order_id,order_item_product_id,order_item_quantity,order_item_subtotal,order_item_product_price
0,1,1,957,1,299.98,299.98
1,2,2,1073,1,199.99,199.99
2,3,2,502,5,250.00,50.00
3,4,2,403,1,129.99,129.99
4,5,4,897,2,49.98,24.99

In [6]:
load.load_to_cloud_storage(categories_df_db,"jeanproyecto","landing/categories")
load.load_to_cloud_storage(customers_df_db,"jeanproyecto","landing/customers")
load.load_to_cloud_storage(departments_df_db,"jeanproyecto","landing/departments")
load.load_to_cloud_storage(order_items_df_db,"jeanproyecto","landing/order_items")
load.load_to_cloud_storage(orders_df_db,"jeanproyecto","landing/orders")
load.load_to_cloud_storage(products_df_db,"jeanproyecto","landing/products")

In [7]:
customers_df = extract.read_cloud_storage("jeanproyecto","landing/customers")
categories_df = extract.read_cloud_storage("jeanproyecto","landing/categories")
departments_df = extract.read_cloud_storage("jeanproyecto","landing/departments")
order_items_df = extract.read_cloud_storage("jeanproyecto","landing/order_items")
orders_df = extract.read_cloud_storage("jeanproyecto","landing/orders")
products_df = extract.read_cloud_storage("jeanproyecto","landing/products")

In [8]:
a=transform.prod_total_sales(customers_df, orders_df, order_items_df, products_df, categories_df, departments_df)

In [9]:
a.head()

,department_name,category_name,product_name,total_sales
0,Fan Shop,Fishing,Field & Stream Sportsman 16 Gun Fire Safe,6.795260e+06
1,Apparel,Cleats,Perfect Fitness Perfect Rip Deck,4.335357e+06
2,Fan Shop,Camping & Hiking,Diamondback Women's Serene Classic Comfort Bi,4.038331e+06
3,Footwear,Cardio Equipment,Nike Men's Free 5.0+ Running Shoe,3.586941e+06
4,Golf,Women's Apparel,Nike Men's Dri-FIT Victory Golf Polo,3.082050e+06

In [10]:
b=transform.customer_total_s(customers_df, orders_df, order_items_df)

In [11]:
b.head()

   customer_id customer_fname customer_lname  total_orders  total_sales
0         9337           Mary          Smith            33      6585.33
1         3710         Ashley          Smith            28      6169.40
2        10744       Samantha          Smith            19      5799.50
3          749          Jesse       Matthews            28      5759.54
4         5411         Robert          Crane            21      5174.56

In [13]:
load.load_to_cloud_storage(a,"jeanproyecto","gold/product_tot_sales")
load.load_to_cloud_storage(b,"jeanproyecto","gold/customer_total_s")

In [3]:
product_tot = extract.read_cloud_storage("jeanproyecto","gold/product_tot_sales")
customer_tot = extract.read_cloud_storage("jeanproyecto","gold/customer_total_s")

NameError: name 'extract' is not defined