#### Cargaremos la informaciÃ³n de mysql a los distintas fuentes que utilizaremos

In [1]:
import sqlalchemy as db
from sqlalchemy import text
import pandas as pd

In [2]:
engine = db.create_engine("mysql://root:root@192.168.2.8:3310/retail_db")
conn = engine.connect()

In [3]:
customers_df = pd.read_sql_query(text('SELECT * FROM customers'), con=conn)

ProgrammingError: (MySQLdb.ProgrammingError) (1146, "Table 'retail_db.customers' doesn't exist")
[SQL: SELECT * FROM customers]
(Background on this error at: https://sqlalche.me/e/20/f405)

In [6]:
orders_df = pd.read_sql_query(text('SELECT * FROM orders'), con=conn)

In [7]:
order_items_df = pd.read_sql_query(text('SELECT * FROM order_items'), con=conn)

In [8]:
products_df = pd.read_sql_query(text('SELECT * FROM products'), con=conn)

In [9]:
categories_df = pd.read_sql_query(text('SELECT * FROM categories'), con=conn)

In [10]:
departments_df = pd.read_sql_query(text('SELECT * FROM departments'), con=conn)

In [12]:
customers_df.head()

,customer_id,customer_fname,customer_lname,customer_email,customer_password,customer_street,customer_city,customer_state,customer_zipcode
0,1,Richard,Hernandez,XXXXXXXXX,XXXXXXXXX,6303 Heather Plaza,Brownsville,TX,78521
1,2,Mary,Barrett,XXXXXXXXX,XXXXXXXXX,9526 Noble Embers Ridge,Littleton,CO,80126
2,3,Ann,Smith,XXXXXXXXX,XXXXXXXXX,3422 Blue Pioneer Bend,Caguas,PR,00725
3,4,Mary,Jones,XXXXXXXXX,XXXXXXXXX,8324 Little Common,San Marcos,CA,92069
4,5,Robert,Hudson,XXXXXXXXX,XXXXXXXXX,10 Crystal River Mall,Caguas,PR,00725

In [13]:
categories_df.head()

   category_id  category_department_id        category_name
0            1                       2             Football
1            2                       2               Soccer
2            3                       2  Baseball & Softball
3            4                       2           Basketball
4            5                       2             Lacrosse

#### Cargamos los datos a Azure Data Lake

In [15]:
from azure.storage.blob import ContainerClient
import io

In [16]:
conn_str = "BlobEndpoint=https://adlsdatapath.blob.core.windows.net/;QueueEndpoint=https://adlsdatapath.queue.core.windows.net/;FileEndpoint=https://adlsdatapath.file.core.windows.net/;TableEndpoint=https://adlsdatapath.table.core.windows.net/;SharedAccessSignature=sv=2021-12-02&ss=bfqt&srt=sco&sp=rwdlacupyx&se=2023-06-01T10:33:16Z&st=2023-03-17T02:33:16Z&spr=https&sig=14f9a42cRquiSn5bpy4dbLbWVeH2tRonE2AsedPIluw%3D"
container = "source"

container_client = ContainerClient.from_connection_string(
    conn_str=conn_str, 
    container_name=container
)

In [14]:
output = io.StringIO()
output = customers_df.to_csv(encoding = "utf-8", index=False)
container_client.upload_blob("retail/customers", output, overwrite=True, encoding='utf-8')

In [15]:
output = io.StringIO()
output = orders_df.to_csv(encoding = "utf-8", index=False)
container_client.upload_blob("retail/orders", output, overwrite=True, encoding='utf-8')

In [16]:
output = io.StringIO()
output = order_items_df.to_csv(encoding = "utf-8", index=False)
container_client.upload_blob("retail/order_items", output, overwrite=True, encoding='utf-8')

In [17]:
output = io.StringIO()
output = products_df.to_csv(encoding = "utf-8", index=False)
container_client.upload_blob("retail/products", output, overwrite=True, encoding='utf-8')

In [18]:
output = io.StringIO()
output = categories_df.to_csv(encoding = "utf-8", index=False)
container_client.upload_blob("retail/categories", output, overwrite=True, encoding='utf-8')

In [19]:
output = io.StringIO()
output = departments_df.to_csv(encoding = "utf-8", index=False)
container_client.upload_blob("retail/departments", output, overwrite=True, encoding='utf-8')

#### Cargamos los datos a Cloud Storage

In [20]:
import os
from google.cloud.storage import Client

os.environ["GOOGLE_APPLICATION_CREDENTIALS"]="/user/app/fresh-bloom-372404-c792e5b41e7f.json"

In [21]:
client = Client()
bucket = client.get_bucket('source-projects')

In [23]:
bucket.blob('retail/customers').upload_from_string(customers_df.to_csv(encoding = "utf-8", index=False), 'text/csv')

In [24]:
bucket.blob('retail/orders').upload_from_string(orders_df.to_csv(encoding = "utf-8", index=False), 'text/csv')

In [25]:
bucket.blob('retail/order_items').upload_from_string(order_items_df.to_csv(encoding = "utf-8", index=False), 'text/csv')

In [26]:
bucket.blob('retail/products').upload_from_string(products_df.to_csv(encoding = "utf-8", index=False), 'text/csv')

In [27]:
bucket.blob('retail/categories').upload_from_string(categories_df.to_csv(encoding = "utf-8", index=False), 'text/csv')

In [28]:
bucket.blob('retail/departments').upload_from_string(departments_df.to_csv(encoding = "utf-8", index=False), 'text/csv')

#### Cargamos los datos a MongoDB

In [ ]:
from pymongo import MongoClient
def get_database():

    CONNECTION_STRING = "mongodb+srv://m001-student:mCxRoc3yh6nf2Xyv@sandbox.okkbl.mongodb.net/?retryWrites=true&w=majority"
    client = MongoClient(CONNECTION_STRING)

    return client['retail_db']

In [ ]:
df = customers_df.copy()
df.reset_index(inplace=False)
df_to_dict = df.to_dict("records")
dbname = get_database()
dbname["customers"].insert_many(df_to_dict)

In [24]:
df = orders_df.copy()
df.reset_index(inplace=False)
df_to_dict = df.to_dict("records")
dbname = get_database()
dbname["orders"].insert_many(df_to_dict)

In [25]:
df = order_items_df.copy()
df.reset_index(inplace=False)
df_to_dict = df.to_dict("records")
dbname = get_database()
dbname["order_items"].insert_many(df_to_dict)

In [26]:
df = products_df.copy()
df.reset_index(inplace=False)
df_to_dict = df.to_dict("records")
dbname = get_database()
dbname["products"].insert_many(df_to_dict)

In [27]:
df = categories_df.copy()
df.reset_index(inplace=False)
df_to_dict = df.to_dict("records")
dbname = get_database()
dbname["categories"].insert_many(df_to_dict)

In [28]:
df = departments_df.copy()
df.reset_index(inplace=False)
df_to_dict = df.to_dict("records")
dbname = get_database()
dbname["departments"].insert_many(df_to_dict)